html {
    font-size: clamp(1px, 1dvh, 1000px);
}

body{
    height: 100dvh;
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 0;
}

#outApp {
    height: 100dvh;

    position: relative;

    overflow: hidden;
}

/* #outApp * {
    border: 1px solid black;
} */

#mainApp {
    position: absolute;

    width: 100%;
    height: 100dvh;
    
    background-color: rgb(245, 245, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s ease;
}

#message {
    flex: 1;
    justify-content: end;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 7%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

#buttonAll {
    flex: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50%;
}

#buttonAll button {
    border-radius: 1.5rem;
    font-size: 2.5rem;
    position: relative;
    margin: 1rem;
    background-color: white;
    border: none;
    box-shadow: 0 0.5px 2px rgba(0,0,0,0.1);

    transition: all 0.3s ease;
}

#buttonAll button::after {
    content: '';
    position: absolute;
    border-radius: 1.5rem;
    inset: 0;
    opacity: 0;
    transition: all 0.3s ease;
    background-color: rgb(221, 221, 221);
}

#buttonAll button:hover::after {
    opacity: 0.77;
    cursor: pointer;
}

.buttonApp {
    position: absolute;
    transition: all 0.15s ease;
    display: none;
    opacity: 0;
    transform: scale(0.9);

    width: 100%;
    height: 90dvh;
}

#button_1_1_App {
    background-color: rosybrown;
}

#button_1_2_App {
    background-color: rgb(143, 188, 177);
}

#button_2_2_App {
    background-color: royalblue;
}

#underApp {
    align-items: center;

    position: fixed;
    top: 90dvh;
    
    width: 100%;
    height: 10dvh;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: gainsboro;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
}

#underApp button {
    font-size: 1.5rem;
    height: 100%;
    margin: 0;
    border: none;
    background-color: white;
    
}

.worldBorder {
    height: 100dvh;

    background-color: rgb(0, 0, 0);
    position: absolute;
}

#worldBorderLeft {
    left: 0;
}

#worldBorderRight {
    right: 0;
}