/* #outApp * {
    border: 1px solid black;
} */

#message {
    flex: 1;
    justify-content: end;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 7%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

#buttonAll {
    flex: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50%;
}

#buttonAll button {
    border-radius: 1.5rem;
    font-size: 2.5rem;
    position: relative;
    margin: 1rem;
    background-color: white;
    border: none;
    box-shadow: 0 0.5px 2px rgba(0,0,0,0.1);

    transition: all 0.3s ease;
}

#buttonAll button::after {
    content: '';
    position: absolute;
    border-radius: 1.5rem;
    inset: 0;
    opacity: 0;
    transition: all 0.3s ease;
    background-color: rgb(221, 221, 221);
}

#buttonAll button:hover::after {
    opacity: 0.77;
    cursor: pointer;
}

.buttonApp {
    position: absolute;
    transition: all 0.15s ease;
    display: none;
    opacity: 0;
    transform: scale(0.9);

    width: 100%;
    height: 90dvh;
    background-color: rgb(255, 255, 255);
}

.buttonApp button {
    background-color: transparent;
    border: none;
    transform: translateX(2rem) translateY(2rem);
}