/* #outApp * {
    border: 1px solid black;
} */

#login {
    flex: 6;

    display: flex;
    flex-direction: column;
    text-align: center;
    
    align-items: center;
}

#userImage {
    flex: 10;
    align-content: end;
    padding-bottom: 5%;
}

#userIconImage {
    position: relative;
    transform: translateY(2rem);
    width: 8.5rem;
    border-radius: 20rem;
    box-shadow: 0 1px 2.5px rgb(160, 160, 160);
}

#loginButton {
    flex: 2;
    font-size: 2.5rem;
    font-weight: bold;
    border: none;
    background: transparent;
}

#loginText {
    flex: 1;
    font-size: 1.5rem;
    align-content: end;
    color: rgb(116, 116, 116);
}

#dataUi {
    flex: 3;
    margin: 2.2rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
    background-color: rgb(58, 67, 76);
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

#text_1 {
    padding-left: 7%;
    flex: 15;
}

#text_2 {
    flex: 3;
    margin-right: 2%;
}

#text_3 {
    font-weight: bold;
    flex: 2;
}

#buttonAll {
    flex: 15;
    margin: 2.2rem;
    margin-top: 0;
}

#buttonAll div{
    height: 80%;
    display: grid;
    border-radius: 1.5rem;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    box-shadow: 0 0px 4px rgba(0,0,0,0.1);
}

#buttonAll div button{
    text-align: start;
    background: transparent;
    border: none;
    opacity: 1;
    font-size: 1.8rem;
}

#buttonAll div button.borderBottom {
    border-bottom: 1px solid rgb(206, 206, 206);
}

#loginApp {
    display: none;
}