html {
    font-size: clamp(1px, 1dvh, 1000px);
}

body{
    height: 100dvh;
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 0;
}

#outApp {
    height: 100dvh;

    position: relative;

    overflow: hidden;
}

/* #outApp * {
    border: 1px solid black;
} */

#mainApp {
    position: absolute;

    width: 100%;
    height: 100dvh;
    
    background-color: rgb(245, 245, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s ease;
}

#login {
    flex: 6;

    display: flex;
    flex-direction: column;
    text-align: center;
    
    align-items: center;
}

#userImage {
    flex: 10;
    align-content: end;
    padding-bottom: 5%;
}

#loginButton {
    flex: 2;
    font-size: 2.5rem;
    font-weight: bold;
    border: none;
    background: transparent;
}

#loginText {
    flex: 1;
    font-size: 1.5rem;
    align-content: end;
    color: rgb(116, 116, 116);
}

#dataUi {
    flex: 3;
    margin: 2.2rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
    background-color: rgb(58, 67, 76);
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

#text_1 {
    padding-left: 7%;
    flex: 15;
}

#text_2 {
    flex: 3;
    margin-right: 2%;
}

#text_3 {
    font-weight: bold;
    flex: 2;
}

#buttonAll {
    flex: 15;
    margin: 2.2rem;
    margin-top: 0;
}

#buttonAll div{
    height: 80%;
    display: grid;
    border-radius: 1.5rem;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    box-shadow: 0 0px 4px rgba(0,0,0,0.1);
}

#buttonAll div button{
    text-align: start;
    background: transparent;
    border: none;
    opacity: 1;
    font-size: 1.8rem;
}

#buttonAll div button.borderBottom {
    border-bottom: 1px solid rgb(206, 206, 206);
}

#loginApp {
    display: none;
}

#underApp {
    align-items: center;

    position: fixed;
    top: 90dvh;
    
    width: 100%;
    height: 10dvh;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: gainsboro;
}

#underApp button {
    font-size: 1.5rem;
    height: 100%;
    margin: 0;
}

.worldBorder {
    height: 100dvh;

    background-color: rgb(0, 0, 0);
    position: absolute;
}

#worldBorderLeft {
    left: 0;
}

#worldBorderRight {
    right: 0;
}