/* #outApp * {
    border: 1px solid black;
} */

#header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 5%;
    padding-bottom: 3%;
    padding-top: 10%;
}

#logoImage {
    width: 16rem;
}

#optionButton {
    background-color: transparent;
    border: none;
}

#optionButton:hover {
    opacity: 0.5;
    cursor: pointer;
}

#optionImage {
    width: 3rem;
}

#hiMessage {
    margin-left: 7%;
    flex: 2;
}

#hiMessage_1 {
    font-size: 1.7rem;
    font-weight: 500;
}

#hiMessage_2 {
    font-size: 2.2rem;
    font-weight: bold;
}

#buttonAll {
    flex: 17;
    display: grid;
    grid-template-rows: 2fr 2fr 3fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;

    padding-left: 5%;
    padding-right: 5%;
}

#buttonAll button {
    border-radius: 1.5rem;
    font-size: 2.5rem;
    position: relative;
    margin: 1rem;
    border: none;
    background-color: white;
    box-shadow: 0 0.5px 2px rgba(0,0,0,0.1);

    transition: all 0.3s ease;
}

#buttonAll button#button_3 {
    background-color: rgb(58, 67, 76);
    color: white;
}

#buttonAll button::after {
    content: '';
    position: absolute;
    border-radius: 1.5rem;
    inset: 0;
    opacity: 0;
    transition: all 0.3s ease;
    background-color: rgb(221, 221, 221);
}

#buttonAll button:hover::after {
    opacity: 0.77;
    cursor: pointer;
}

#buttonAll #button_1 {
    grid-column: 1 / 3;
    margin-top: 10%;
}

#buttonAll #button_3 {
    grid-column: 1 / 3;
    margin-bottom: 40%;
}

.buttonApp {
    position: absolute;
    transition: all 0.15s ease;
    display: none;
    opacity: 0;
    transform: scale(0.9);

    width: 100%;
    height: 90dvh;
    background-color: rgb(255, 255, 255);
}

.buttonApp button {
    background-color: transparent;
    border: none;
    transform: translateX(2rem) translateY(2rem);
}

#optionBackground {
    position: absolute;
    display: none;
    width: 100%;
    height: 100dvh;

    background-color: rgb(0, 0, 0);

    opacity: 0.3;
}

#optionApp {
    position: absolute;
    display: none;
    width: 70%;
    height: 100dvh;
    flex-direction: column;

    transition: all 0.3s ease;

    background-color: white;

    left: 100%;
}

#optionApp span {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2.5rem;
    padding-top: 5rem;
}

#optionApp span div{
    text-align: start;
    font-size: 2.7rem;
    font-weight: bold;
    padding: 0;
}

#optionApp span button{
    background-color: transparent;
    border: none;
    transform: translateY(0.5rem);
}

#optionApp span button:hover {
    cursor: pointer;
}

#optionApp div{
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    padding-top: 0;
}

#optionApp div button {
    background-color: transparent;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: start;
    border: none;
    border-bottom: 1px solid rgb(206, 206, 206);
}

#optionApp div button:hover {
    cursor: pointer;
}

.optionImages {
    transform: translateY(0.5rem);
    margin-right: 1rem;
}