html {
    font-size: clamp(1px, 1dvh, 1000px);
}

body{
    height: 100dvh;
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 0;
}

#outApp {
    height: 100dvh;

    position: relative;

    overflow: hidden;
}

#outApp * {
    border: 1px solid black;
}

#mainApp {
    position: absolute;

    width: 100%;
    height: 100dvh;
    
    background-color: rgb(172, 228, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s ease;
}

#header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 5%;
}

#hiMessage {
    margin-left: 7%;
    flex: 2;
}

#hiMessage_1 {
    font-size: 1.7rem;
    font-weight: 500;
}

#hiMessage_2 {
    font-size: 2.2rem;
    font-weight: bold;
}

#buttonAll {
    flex: 17;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;

    padding-left: 5%;
    padding-right: 5%;
}

#buttonAll button {
    border-radius: 1.5rem;
    font-size: 2.5rem;
    position: relative;
    margin: 1rem;

    transition: all 0.3s ease;
}

#buttonAll button::after {
    content: '';
    position: absolute;
    border-radius: 1.5rem;
    inset: 0;
    opacity: 0;
    transition: all 0.3s ease;
    background-color: rgb(221, 221, 221);
}

#buttonAll button:hover::after {
    opacity: 0.77;
    cursor: pointer;
}

#buttonAll #button_1 {
    grid-column: 1 / 3;
    margin-top: 10%;
}

#buttonAll #button_3 {
    grid-column: 1 / 3;
    margin-bottom: 50%;
}

#underApp {
    align-items: center;

    position: fixed;
    top: 90dvh;
    
    width: 100%;
    height: 10dvh;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: gainsboro;
}

#underApp button {
    font-size: 1.5rem;
    height: 100%;
    margin: 0;
}

.buttonApp {
    position: absolute;
    transition: all 0.15s ease;
    display: none;
    opacity: 0;
    transform: scale(0.9);

    width: 100%;
    height: 90dvh;
}

#button_1_App {
    background-color: rgb(179, 11, 11);
}

#button_2_1_App {
    background-color: rosybrown;
}

#button_2_2_App {
    background-color: royalblue;
}

#button_3_App {
    background-color: rebeccapurple;
}

#optionBackground {
    position: absolute;
    display: none;
    width: 100%;
    height: 100dvh;

    background-color: rgb(0, 0, 0);

    opacity: 0.3;
}

#optionApp {
    position: absolute;
    display: none;
    width: 70%;
    height: 100dvh;

    transition: all 0.3s ease;

    background-color: skyblue;

    left: 100%;
}

.worldBorder {
    height: 100dvh;

    background-color: rgb(0, 0, 0);
    position: absolute;
}

#worldBorderLeft {
    left: 0;
}

#worldBorderRight {
    right: 0;
}