/* #outApp * {
    border: 1px solid black;
} */

#mainApp {
    align-items: center;
}

#logo img{
    width: 45rem;
}

#helloText{
    font-size: 3rem;
    color: white;
    font-weight:200;
    text-align: center;
    padding-top: 4rem;
    opacity: 0;
    transition: all 1s ease;
}

#helloText span{
    font-size: 3.5rem;
    font-weight:400;   
}